span.cls_006 {
	font-family: "Calibri", serif;
	font-size: 7.0px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_006 {
	font-family: "Calibri", serif;
	font-size: 7.0px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	left: 38.88px;
	top: 63.84px;
}
span.cls_002 {
	font-family: "Calibri Bold", serif;
	font-size: 12.1px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
div.cls_002 {
	font-family: "Calibri Bold", serif;
	font-size: 12.1px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	left: 42.00px;
	top: 71.90px;
}
span.cls_004 {
	font-family: "Calibri", serif;
	font-size: 12.1px;
	color: rgb(255, 255, 255);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_004 {
	font-family: "Calibri", serif;
	font-size: 14.1px;
	color: rgb(255, 255, 255);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	left: 265.73px;
	top: 71.78px;
}
span.cls_007 {
	font-family: "Calibri Bold", serif;
	font-size: 20.1px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
div.cls_007 {
	font-family: "Calibri Bold", serif;
	font-size: 20.1px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	left: 348.43px;
	top: 71.42px;
}
span.cls_008 {
	font-family: "Calibri Bold", serif;
	font-size: 16.0px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
div.cls_008 {
	font-family: "Calibri Bold", serif;
	font-size: 16.0px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
span.cls_009 {
	font-family: "Calibri", serif;
	font-size: 16.0px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_009 {
	font-family: "Calibri", serif;
	font-size: 16.0px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
span.cls_011 {
	font-family: "Calibri", serif;
	font-size: 8.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_011 {
	font-family: "Calibri", serif;
	font-size: 8.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	position: absolute;
	left: 42.00px;
	top: 100.46px;
}
span.cls_014 {
	font-family: "Calibri", serif;
	font-size: 9.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_014 {
	font-family: "Calibri", serif;
	font-size: 9.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
span.cls_017 {
	font-family: "Calibri", serif;
	font-size: 11.1px;
	color: rgb(111, 47, 159);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_017 {
	font-family: "Calibri", serif;
	font-size: 11.1px;
	color: rgb(111, 47, 159);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
span.cls_015 {
	font-family: "Calibri", serif;
	font-size: 10.0px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_015 {
	font-family: "Calibri", serif;
	font-size: 10.0px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
span.cls_010 {
	font-family: "Calibri", serif;
	font-size: 12.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_010 {
	font-family: "Calibri", serif;
	font-size: 12.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
span.cls_016 {
	font-family: "Calibri", serif;
	font-size: 5.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_016 {
	font-family: "Calibri", serif;
	font-size: 5.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
span.cls_013 {
	font-family: "Calibri", serif;
	font-size: 11.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.cls_013 {
	font-family: "Calibri", serif;
	font-size: 11.1px;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
div.thumbprint img {
	position: absolute;
	left: 35px;
	top: 440px;
	height: 100px;
	width: 100px;
}

div.sginat img {
	position: absolute;
	left: 170px;
	top: 420px;
	height: 100px;
	width: 150px;
}

div.signatu img {
	position: absolute;
	left: 170px;
	top: 460px;
	height: 100px;
	width: 150px;
}
