* {
	margin: 00px;
	padding: 00px;
	box-sizing: content-box;
}
.container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e6ebe0;
	flex-direction: row;
	flex-flow: wrap;
}
.font {
	height: 375px;
	width: 250px;
	position: relative;
	border-radius: 10px;
	border: 1px #ffff00;
}
.padding {
	padding-right: 20px;
}
.top {
	height: 30%;
	width: 100%;
	background-color: #ffffff;
	position: relative;
	z-index: 5;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.top img {
	height: 45px;
	width: 45px;

	border-radius: 10px;
	position: absolute;
	top: 18px;
	left: 24px;
}
.top p {
	position: relative;
	top: 23px;
	left: 25px;
	text-align: center;

	font-weight: bold;
	font-size: 12px;
	text-emphasis: spacing;
}
.top .city {
	font-size: 12px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.top .barangay {
	font-size: 13px;
	top: 30px;
	left: 10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
	color: #ff0000;
}
.top .cupang {
	font-size: 32px;
	top: 28px;
	left: 8px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
	color: #ff0000;
	border-color: #ffff00;
}

.bottom {
	border-color: #ffff00;
	height: 70%;
	width: 100%;
	background-color: white;
	position: absolute;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.bottom p {
	position: relative;
	bottom: -110px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 11px;
	text-emphasis: spacing;
}
.bottom img {
	height: 100px;
	width: 100px;
	background-color: #e6ebe0;
	border-radius: 10px;
	position: absolute;
	left: 75px;
}
.bottom .name {
	font-size: 13px;
	bottom: -120px;
	left: 10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
	text-transform: capitalize;
}
.bottom .nm {
	font-size: 11px;
	bottom: -120px;
	left: 10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
	text-transform: capitalize;
}
.person img {
	height: 70px;
	width: 70px;
	bottom: 20px;
	border-radius: 10px;
	position: absolute;

	left: 100px;
}
.person p {
	position: relative;
	bottom: -200px;
	left: 10px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 11px;
	text-emphasis: spacing;
}
.person .signature {
	position: relative;
	bottom: -200px;
	left: 10px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 11px;
	text-emphasis: spacing;
}
.munti {
	position: absolute;
	top: 18.6%;
	right: 27%;
	transform: translate(-50%, -50%);
}
.back {
	height: 375px;
	width: 250px;
	border-radius: 10px;
	background-color: #ffffff;
}
.back .addr {
	font-size: 8px;
	margin-bottom: -10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .mcty {
	font-size: 8px;
	margin-bottom: -10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .num {
	font-size: 8px;
	margin-bottom: -10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .bday {
	font-size: 8px;
	margin-bottom: -10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .pobt {
	font-size: 8px;
	margin-bottom: -10px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .connum {
	font-size: 8px;
	margin-left: 50px;
	margin-bottom: -8px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .conname {
	font-size: 8px;
	margin-top: 5px;
	margin-bottom: -8px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.back .dateis {
	font-size: 8px;
	margin-bottom: -8px;
	font-weight: bold;
	text-emphasis: spacing;
	text-align: center;
}
.details-info p {
	font-size: 8px;
	text-indent: 30px;
}
.signaz img {
	height: 30px;
	width: 30px;
	margin-top: 10px;
	margin-left: 7rem;
	margin-bottom: -1rem;
}
.signaz p {
	position: relative;
	bottom: 15px;
	left: -13px;
	text-align: center;
	text-transform: capitalize;

	font-size: 11px;
	text-emphasis: spacing;
}
.signaz .signame {
	position: relative;
	bottom: 15px;
	left: -15px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	color: red;
	font-size: 7px;
	text-emphasis: spacing;
}
.signaz .signameby {
	position: relative;
	margin-top: 5px;
	bottom: 17px;
	left: -15px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 6px;
	text-emphasis: spacing;
}
.writ .ident {
	margin: 20px;
	position: relative;
	bottom: 20px;
	left: -1px;
	text-align: justify;
	text-justify: inter-word;
	font-size: 8px;
	letter-spacing: 1.2px;
	font-weight: bold;
}

@media screen and (max-width: 400px) {
	.container {
		height: 130vh;
	}
	.container .front {
		margin-top: 50px;
	}
}
@media screen and (max-width: 600px) {
	.container {
		height: 130vh;
	}
	.container .front {
		margin-top: 50px;
	}
}
